@import 'tailwindcss';

@theme inline {
  --radius: 0.5rem;
  
  --color-background: #ffffff;
  --color-foreground: #09090b;
  
  --color-card: #ffffff;
  --color-card-foreground: #09090b;
  
  --color-primary: #6366f1;
  --color-primary-foreground: #ffffff;
  
  --color-secondary: #f4f4f5;
  --color-secondary-foreground: #18181b;
  
  --color-muted: #f4f4f5;
  --color-muted-foreground: #71717a;
  
  --color-accent: #f4f4f5;
  --color-accent-foreground: #18181b;
  
  --color-destructive: #ef4444;
  --color-destructive-foreground: #fafafa;
  
  --color-border: #e4e4e7;
  --color-input: #e4e4e7;
  --color-ring: #6366f1;
}

@keyframes ping {
  75%, 100% {
    transform: scale(2);
    opacity: 0;
  }
}

.animate-ping {
  animation: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite;
}
